body{
    background-color: antiquewhite;
    color: black;
    align-items: center;
    justify-content: center;

    width: 99vw;
    height: 100vh;
    transition: background 0.2s linear;
}
.theme{
    margin: 10px;
}


.dark{
    background-color: #232c35;
    color: aliceblue;
}

.check{
    opacity: 0;
    position: absolute;
}

.label{
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    padding: 10px 2px;
    background-color: #232c35;

    cursor: pointer;
}

.label .ball{
    background-color: antiquewhite;
    border-radius: 50%;
    position: absolute;
    
    width: 23px;
    height: 22px;

    transform:  translateX(-12px);
    transition: transform 0.2s linear;
}

.check:checked + .label .ball{
    transform: translateX(12px);
}
.light{
    background-color: aliceblue;
    border: 1px solid antiquewhite;
}
body::-webkit-scrollbar {
    width: 7px;               
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 191, 132);    
}
body::-webkit-scrollbar-track {
    background: antiquewhite;        
} 
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(228, 228, 228);    
    border-radius: 20px;       
    border: 1px solid rgb(228, 228, 228);  
}
  